.content {
  line-height: 29px;
  margin-top: 30px;
}
/* 
https://stackoverflow.com/questions/1899772/what-is-the-best-practice-for-showing-an-icon-next-to-text
https://fonts.google.com/icons?selected=Material+Symbols+Outlined:open_in_new:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=open+in+new&icon.platform=web
*/
.external:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 2px 0 5px;
}

.external:hover {
  color: blue;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .content {
    margin-top: 12px;
  }
}
