.footer {
  text-align: end;
  margin: 60px 0;
  color: #b3b3b3;
  font-size: 14px;
}

.cc {
  margin-bottom: 2px;
}

.cc a {
  text-decoration: underline;
  text-decoration-color: #b3b3b3;
}

@media screen and (max-width: 600px) {
  .footer {
    text-align: center;
  }
}